# Ansible
*.retry
.vault_pass
secrets.yml

# Fichiers temporaires
*.tmp
*.log
*.bak
*~

# Fichiers système
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Archives
*.tar.gz
*.zip

# Credentials
squashtm-info.txt
